doctype html
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title WhiteBoard Online
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/lib/bootstrap.css')
    link(rel='stylesheet', href='/css/lib/ngDialog.min.css')
    link(rel='stylesheet', href='/css/lib/ngDialog-theme-default.css')
  body(ng-controller='HeaderCtrl')
    block content